
 

/* Header principal */
.site-header,
.cabecalho {
  background-color: #ffffff; /* White background for header */
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: -30px; /* Space below header */
  border-top: 1px solid #e7e7e7; /* Subtle border at the top */
  border-bottom: 1px solid #e7e7e7; /* Subtle border */
  box-shadow: 0 20px 14px rgba(0, 0, 0, 0.308);
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  z-index: 1000; /* Ensure it stays above other content */
  transition: opacity 0.5s, visibility 0s linear 0s;
}

.site-header.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 0.5s, visibility 0.5s linear 0.5s;
}

/* Container do header */
.site-header .container,
.navegacao {
     display: flex;
     justify-content: space-between;
     align-items: center;
     max-width: none;
     padding-left: 20px;
     padding-right: 20px;
}

/* Logo */
.logo a {
     font-size: 1.5rem;
     font-weight: bold;
     color: var(--color-principal);
     text-decoration: none;
}

/* Menu de navegação */
.menu-lista {
     display: flex;
     list-style-type: none;
     margin: 0;
     padding: 0;
     gap: 1.5rem;
}

/* Links */
a {
     color: rgb(26, 26, 26);
     text-decoration: none;
     transition: color 0.3s;
}

a:hover {
     color: var(--color-destaque);
}

/* Dropdown Menu */
@media (min-width: 768px) {
    .dropdown {
        position: relative;
    }

    .dropdown-menu {
        display: none;
        position: absolute;
        top: 100%;
        left: -15px;
        background-color: #ffffff;
        border: 1px solid #e7e7e7;
        border-radius: 25px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        list-style: none;
        padding: 0;
        margin: 0;
        min-width: 160px;
    }

    .dropdown.open .dropdown-menu {
        display: block;
    }
}

@media (max-width: 767px) {
    .dropdown-menu {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #f9f9f9;
        border-top: 1px solid #e7e7e7;
    }

    .dropdown-menu.show {
        display: flex;
    }

    .dropdown-menu li {
        text-align: center;
    }
}

.dropdown-menu li {
    padding: 0 15px 10px 15px;
     margin: 5px 5px 0 5px;
}

.dropdown-menu li a {
    color: #333;
    text-decoration: none;
    display: block;
}

.dropdown-menu li a:hover {
    background-color: #f5f5f5;
     color: var(--color-destaque);
     border-radius: 25px;
    
}
