.footer-legal {
  grid-column: 1 / -1;
  text-align: center;
}

.footer-legal p {
  margin: 5px 0;
  color: #b0b0b0; /* Slightly darker than main footer text for less emphasis */
}

.footer-legal a {
  color: var(--link-color-footer); /* Ensure legal links also use footer link color */
}
.footer-legal a:hover {
  color: var(--link-color-footer-hover);
}

.footer-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* Three equal columns */
  gap: 20px; /* Space between columns */
  align-items: start; /* Align items to the start of their grid cell */
  margin-bottom: 30px; /* Space before footer-legal */
  padding: 20px 0; /* Padding top and bottom */
}

#back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: var(--color-destaque);
  color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transform: translateY(100px);
  transition: opacity 0.3s, visibility 0.3s, transform 0.3s;
  z-index: 1000;
}

#back-to-top.show {
  opacity: 0.5;
  visibility: visible;
  transform: translateY(0);
}

#back-to-top:hover {
  opacity: 1;
}

/* Padroniza o tamanho dos ícones do rodapé */
.btn-footer lucide-icon,
.social-btn-footer lucide-icon {
  width: 24px;
  height: 24px;
}

.social-links-footer-email {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.copy-status-message {
  color: var(--color-principal);
  font-size: 0.9rem;
  text-align: center;
  margin-top: -5px;
  transition: opacity 0.3s;
}

@media (max-width: 768px) {
    .footer-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
            "logo"
            "contact"
            "social"
            "legal";
        justify-items: center;
        text-align: center;
        padding-top: 5px;
    }
    
    .footer-logo-tagline {
        grid-area: logo;
        margin-bottom: -5px;
    }
    .footer-logo-tagline p {
        margin-bottom: 1px ;
    }

    .footer-social-media-buttons {
        grid-area: social;
    }

    .footer-social-media.footer-contact-info {
        grid-area: contact;
    }

    .footer-legal {
        grid-area: legal;
    }

    h3 {
      margin-top: 5px;
    }

    .social-links-footer,
    .social-links-footer-email {
        flex-direction: row;
        gap: 10px;
        justify-content: center;
    }
}
.social-btn-footer .button-text-container .text-default {
    display: block; /* Garante que o texto padrão seja sempre visível */
}