# Ignorar a pasta de dependências do Node.js. Elas serão instaladas dentro do container.
node_modules

# Ignorar a pasta de saída do build do Angular.
dist
angular-lamed

# Ignorar arquivos de log do npm e do servidor de desenvolvimento.
npm-debug.log*
ng_serve_output.log

# Ignorar metadados do Git e configurações do editor.
.git
.gitignore
.github
.vscode

# Ignorar o próprio Dockerfile e arquivos de compose, eles não são necessários dentro da imagem.
Dockerfile
docker-compose.yml
