# Angular
/frontend/dist/
/frontend/tmp/
/frontend/out-tsc/
/frontend/bazel-out/
/frontend/node_modules/
/frontend/.idea/
/frontend/.project
/frontend/.ng/
/frontend/.angular/
/frontend/.vscode/

# Python
**/__pycache__/
/backend/*.py[cod]
/backend/*$py.class
/backend/venv/
/backend/env/
/backend/.env
/backend/.venv
/backend/build/
/backend/dist/
/backend/*.spec

# Firebase / Secrets
backend/certs/
*.json
!package.json
!tsconfig.json
!angular.json
!ng-package.json
!nx.json
!frontend/src/assets/**/*.json
serviceAccountKey.json
*.key
.env
firebase-debug.log*
firestore-debug.log*
ui-debug.log*

# Large Media Files (Ignored to save space)
*.mp4
*.pdf
frontend/public/assets/Imagens-artigos/*.png
backend/media/bundles/

# IDE / OS
.DS_Store
Thumbs.db
.vscode/
.idea/
/_BKP