<div class="container">
  <h1 class="title">Guia de Estudos</h1>
  <p class="description">
    Aqui você encontrará os materiais de estudo semanais, organizados por trimestre.
  </p>

  <div class="trimester" *ngIf="getLessonsWithDownloads('1').length > 0">
    <h2 class="trimester-title" (click)="toggleTrimester('1')">
      1º Trimestre
      <span class="toggle-icon">{{ trimesterState['1'] ? '-' : '+' }}</span>
    </h2>
    <ul class="week-list" *ngIf="trimesterState['1']">
      <li *ngFor="let lesson of getLessonsWithDownloads('1')">
        <span>Lição {{ lesson.id }} - {{ lesson.title }}</span>
        <a [href]="lesson.downloadUrl" download>
          <button class="download-button">Baixar</button>
        </a>
      </li>
    </ul>
  </div>

  <div class="trimester" *ngIf="getLessonsWithDownloads('2').length > 0">
    <h2 class="trimester-title" (click)="toggleTrimester('2')">
      2º Trimestre
      <span class="toggle-icon">{{ trimesterState['2'] ? '-' : '+' }}</span>
    </h2>
    <ul class="week-list" *ngIf="trimesterState['2']">
      <li *ngFor="let lesson of getLessonsWithDownloads('2')">
        <span>Lição {{ lesson.id }} - {{ lesson.title }}</span>
        <a [href]="lesson.downloadUrl" download>
          <button class="download-button">Baixar</button>
        </a>
      </li>
    </ul>
  </div>

  <div class="trimester" *ngIf="getLessonsWithDownloads('3').length > 0">
    <h2 class="trimester-title" (click)="toggleTrimester('3')">
      3º Trimestre
      <span class="toggle-icon">{{ trimesterState['3'] ? '-' : '+' }}</span>
    </h2>
    <ul class="week-list" *ngIf="trimesterState['3']">
      <li *ngFor="let lesson of getLessonsWithDownloads('3')">
        <span>Lição {{ lesson.id }} - {{ lesson.title }}</span>
        <a [href]="lesson.downloadUrl" download>
          <button class="download-button">Baixar</button>
        </a>
      </li>
    </ul>
  </div>

  <div class="trimester" *ngIf="getLessonsWithDownloads('4').length > 0">
    <h2 class="trimester-title" (click)="toggleTrimester('4')">
      4º Trimestre
      <span class="toggle-icon">{{ trimesterState['4'] ? '-' : '+' }}</span>
    </h2>
    <ul class="week-list" *ngIf="trimesterState['4']">
      <li *ngFor="let lesson of getLessonsWithDownloads('4')">
        <span>Lição {{ lesson.id }} - {{ lesson.title }}</span>
        <a [href]="lesson.downloadUrl" download>
          <button class="download-button">Baixar</button>
        </a>
      </li>
    </ul>
  </div>
</div>
