.projects-container {
  padding: 4rem 2rem;
}

h2 {
  text-align: center;
  font-size: 2.5rem;
  color: var(--text-color-headings);
  margin-bottom: 3rem;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.project-card {
  background-color: white;
  border: 1px solid #e7e7e7;
  border-radius: 8px;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
}

.project-card h3 {
  margin: 0 0 1rem 0;
  color: var(--text-color-headings);
}

.project-card p {
  flex-grow: 1; /* Faz a descrição ocupar o espaço disponível */
  margin: 0 0 1.5rem 0;
  line-height: 1.6;
}

.btn-project {
  background-color: var(--color-principal);
  color: white;
  padding: 0.7rem 1.2rem;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  transition: background-color 0.3s;
}

.btn-project:hover {
  background-color: var(--color-destaque);
}