<div class="container">
  <h1 class="title">Guia de Estudos</h1>
  <p class="description">
    Aqui você encontrará os materiais de estudo semanais, organizados por trimestre. Esses materias
    foram pensados para ser uma boa base para estudos em PGs e classes de Estudos Biblico.
  </p>

  @for (tri of trimesters; track tri) {
  <div class="trimester">
    <h2 class="trimester-title" (click)="toggleTrimester(tri)">
      {{ tri }}
      <span class="toggle-icon">{{ trimesterState[tri] ? '-' : '+' }}</span>
    </h2>
    <ul class="week-list" [ngClass]="{ expanded: trimesterState[tri] }">
      @for (lesson of getLessonsWithDownloads(tri); track lesson.id) {
      <li>
        <span>Lição {{ lesson.id }} - {{ lesson.title }}</span>
        <div class="button-group">
          <a [href]="lesson.downloadUrl" target="_blank" class="view-button">
            <button>Visualizar</button>
          </a>
          <a [href]="lesson.downloadUrl" download class="download-button">
            <button>Baixar</button>
          </a>
        </div>
      </li>
      }
    </ul>
  </div>
  }
</div>
