name: Update Content and Deploy

on:
  workflow_dispatch:
  schedule:
    - cron: '0 * * * *'
  push:
    branches:
      - main
    paths:
      - 'public/Artigos/**'
      - 'public/videos.json'

jobs:
  update-json:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - name: 1. Checkout code
        uses: actions/checkout@v4

      - name: 2. Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18'

      - name: 3. Install dependencies
        run: npm install

      

      - name: 5. Fetch videos
        run: node fetch-videos.js
        env:
          YOUTUBE_API_KEY: ${{ secrets.YOUTUBE_API_KEY }}

      - name: 6. Commit data files
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: 'chore: Update content data files'
          file_pattern: 'public/articles.json public/videos.json'

      - name: 7. Deploy to Firebase
        uses: w9jds/firebase-action@master
        with:
          args: deploy --only hosting
        env:
          FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}
