<div class="charts-container">
  <div class="chart-block">
    <h3>Distribuição Geral das Doações</h3>
    <canvas id="geralDonationChart"></canvas>
  </div>
</div>

<h4>Detalhamento dos 55% para Projetos Sociais e Missionários:</h4>
<p>Esta parcela é cuidadosamente alocada para maximizar o alcance e a eficácia do nosso trabalho e de parceiros:</p>

<div class="donation-details-cards-container">
  <div class="detail-card">
    <h5>Missão Global</h5>
    <p><strong>20%</strong> - Apoio a missionários que levam a mensagem transformadora a diversas partes do mundo.</p>
  </div>
  <div class="detail-card">
    <h5>Projetos Sociais (ADRA)</h5>
    <p><strong>20%</strong> - Contribuição para iniciativas que oferecem assistência social e desenvolvimento comunitário a pessoas em situação de vulnerabilidade.</p>
  </div>
  <div class="detail-card">
    <h5>Dízimo</h5>
    <p><strong>10%</strong> - Contribuição que suporta a estrutura eclesiástica e os esforços evangelísticos mais amplos da igreja.</p>
  </div>
  <div class="detail-card">
    <h5>Oferta (IASD)</h5>
    <p><strong>5%</strong> - Destinado a subsidiar diversas outras áreas de atuação e ministérios da Igreja Adventista do Sétimo Dia (IASD).</p>
  </div>
</div>

<div class="charts-container">
  <div class="chart-block">
    <h3>Distribuição em Projetos Sociais e Missionários</h3>
    <canvas id="socialProjectsChart"></canvas>
  </div>
</div>
